<%= @dj.stage_name %>,
<br>
A listener has requested the following song:<br>
<%= @listener_song_request.song.name %> from the artist <%= @listener_song_request.song.artist.name %>
<br>
<button value="Accept"></button>
